{{ template "base" . }}

{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>About Page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores expedita ratione, fugit dolores officia at cupiditate. Consequuntur ad laudantium illo ab similique aperiam? Accusamus alias dolor ducimus dolores optio eum,
        accusantium atque iusto iste ullam a quos aperiam inventore. Maiores sit, iure fugit totam voluptatum libero autem in, sunt voluptate, quis voluptatibus minus quibusdam itaque dolorum. Adipisci placeat voluptas eum. Corrupti cum
        placeat aut odio, animi numquam laboriosam doloremque necessitatibus. Omnis doloremque voluptas, quaerat facere ab repudiandae aliquid soluta. Eligendi repudiandae unde tempora magni voluptas perspiciatis voluptatum iste repellendus
        molestias qui libero aspernatur eius dignissimos perferendis, debitis explicabo omnis. Animi nulla tenetur aliquid nam natus labore aut optio quas sunt a iure maiores assumenda minima laboriosam, eos unde ea voluptas autem pariatur
        et sed ut ratione aliquam. Reprehenderit explicabo suscipit facere facilis ipsa maxime, laudantium minus molestiae, incidunt soluta nisi, architecto pariatur numquam quam saepe in possimus. Eos reprehenderit numquam aliquam
        accusantium, obcaecati aperiam commodi magni ea nesciunt, nulla odio suscipit laboriosam adipisci molestiae similique quisquam! Architecto deleniti non unde molestiae officia, culpa repellat nemo optio obcaecati, perferendis
        tempore. Minus qui doloremque, mollitia debitis nemo alias placeat pariatur consequuntur quaerat in vel maiores, harum dolore aliquam voluptatibus laboriosam aperiam magni?
      </p>
    </div>
  </div>
</div>
{{ end }}
