{{ template "base" . }}

{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Home Page</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam in voluptatum dignissimos totam. Debitis dignissimos nemo, in aliquid tempore iure iste velit mollitia, praesentium fugit impedit? Iure, hic. Minus quia nulla debitis
        amet ut ipsa. Et impedit temporibus, asperiores quam quibusdam sint aliquam voluptates debitis amet! Consequatur, adipisci voluptate? Perferendis porro, dolore totam animi incidunt illo repellat vitae aperiam dolor laboriosam eius
        neque quo in, saepe inventore numquam. Iure quae temporibus quisquam, eum quas culpa saepe ipsum quis aliquam mollitia ullam et aliquid deleniti! Nisi corrupti voluptate dolores nam reprehenderit provident, quos minus aut rerum
        ipsam! Quasi tempora sunt voluptas.
      </p>
    </div>
  </div>
</div>
{{ end }}
